body,
html {
  margin: 0;
}

body {
  padding: 0;
  background-color: #0d1116;
  color: rgba(255, 255, 255, 0.87);
  font-family: -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
